{% if page.previous.url %}
  <div class='o-grid__col o-grid__col--2-4-s'>
    <a class='c-pagination' href='{{page.previous.url}}'>
      <div class='c-pagination__icon c-pagination__icon--prev' data-icon='ei-chevron-left'></div>
      <span class='c-pagination__text c-pagination__text--prev'>Previous Post</span>
      <br>
      <em>{{page.previous.title}}</em>
    </a>
  </div>
{% endif %}

{% if page.next.url %}
  <div class='o-grid__col o-grid__col--end o-grid__col--2-4-s u-text-right'>
    <a class='c-pagination' href='{{page.next.url}}'>
      <span class='c-pagination__text c-pagination__text--next'>Next Post</span>
      <div class='c-pagination__icon c-pagination__icon--next' data-icon='ei-chevron-right'></div>
      <br>
      <em>{{page.next.title}}</em>
    </a>
  </div>
{% endif %}
