/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: $base-spacing-unit;
  border-left: 2px solid $color-gray;
  color: $color-gray;
}