/*------------------------------------*\
  Components > Comments
\*------------------------------------*/

.c-comments {
  margin-bottom: 1rem;

  a {
    display: inline-block;

    font-family: $font-base;
    line-height: $line-height-medium;
    color: $color-gray;

    text-decoration: underline;
    text-decoration-skip: ink;
    color: $color-text;

    transition: $global-transition;

    &:hover {
      color: $color-brand;
      text-decoration: underline !important;
      text-decoration-skip: ink;
    }

    @include attention() {
      text-decoration: none;
      background-color: $bg-color-gray;
    }
  }

  @include mq($until: tablet) {
    margin-bottom: $line-height-medium - half(quarter($line-height-medium));
  }
}