/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  overflow-x: auto;

  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand;
    }
  }
}