/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  &__link {
    font-size: $font-size-larger;
    transition: $global-transition;

    span {
      // display: none;
      color: silver;
    }

    &:hover span {
      // display: inline;
      // margin-right: 2rem;
    }

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}

.c-byline {
  font-size: $font-size-large;
  float: right;

  &__desc {
    // float: right;
    color: silver;
  }
}