/*------------------------------------*\
  Components > Tags
\*------------------------------------*/

.c-tags {
  a {
    display: inline-block;

    font-family: $font-base;
    // font-size: $font-size-base;
    line-height: $line-height-medium;
    color: $color-gray;

    transition: $global-transition;

    @include attention() {
      text-decoration: none;
      background-color: $bg-color-gray;
    }
  }

  @include mq($until: tablet) {
    margin-bottom: $line-height-medium - half(quarter($line-height-medium));
  }
}